body {
  background-color: gray;
  position: absolute;
  width:768px;
  background-color: #f8e0b3;
  height:1366px;
}

/* Class Related Here! */

header {
  border: solid 2px yellow;

  background-image: url("../images/Top Box.png");
  background-position: center;
  background-size: 100%;
  width: 164%;

}

footer {
  border: solid 2px yellow;

  background-image: url("../images/Bottom.png");
  background-position: center;
  background-size: 100%;
  width: 164%;

}

.nav {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
}

.middle_one {
  background-color: white;
  border: solid 2px yellow;


  background-position: center;
  background-size: 100%;

  height: 350px;
  width: 162.80%;
  padding: 5px;
}

.middle_one_inside {
  background-color: white;
  border: solid 2px yellow;
  border-radius: 10px;

margin-top: 40px;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.country-align {
  background-color: white;
  border: solid 1px red;
  border-radius: 3px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  width: 20%;
}

.button {
  background-color: white;
  border: solid 1px red;
  border-radius: 3px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.middle_two {
  background-color: white;
  border: solid 2px yellow;

background-color: #336DA8;
  background-position: center;
  background-size: 100%;

  height: 350px;
  width: 162.80%;
  padding: 5px;
}

.middle_two_inside {
  background-color: white;
  border: solid 2px yellow;
  border-radius: 10px;

  margin: auto;
  margin-top: 40px;
  width: 60%;
  padding: 10px;
}

.button {
  background-color: white;
  border: solid 1px red;
  border-radius: 3px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.package-align {
  background-color: white;
  border: solid 1px red;
  border-radius: 3px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.end {
  text-align: right;
  margin-right: 300px;
  height: 250px;
}

.social-media-logo {

  text-align: center;
  margin-right: 0px;
  background-color: white;
  margin-right: 20px;
  width: 100%;
  height: 164%;
}


/* Links Related Here! */

a.nav:link, a.nav:active, a.nav:visited {
  text-decoration: none;
  color: white;
}
 a.nav:hover {
   text-decoration: none;
   color: red;
 }

a.button:link, a.nav:active, a.nav:visited {

}

 a.button:hover {
   opacity: 0.5;
   filter: alpha(opacity=50);
 }

/* ID Related Here! */

#book_now {

  font-family: font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: white;
}
#statement {

  font-family: font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: white;
  margin-right: 55px;
  margin-top: 120px;
}
#nav {
  list-style: none;
  text-align: right;
  margin-right: 20px;
}
#planeLogo {
  float: left;

}
